body {
  background: black;
}

#interactive {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; 
}

canvas, video {
  height: 100%;
  width: 100%;
}

canvas {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0; 
}

.barcode {
  position: absolute;
  left: 50%;
  top: 10%;

  margin-left: -20vw;
  width: 40vw;
  opacity: 0.4
}